@import 'variables';

.profile-page {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem;

    &_left{
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        background-color:$second_back;
        border-radius:5px;
    }

    &_right{ 
        margin-top: 1rem;
        &_product{
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: 2rem;
            transition-duration: .15s;
            transition-property: all;
            transition-timing-function: cubic-bezier(.4,0,.2,1);

            &_card{
                display: flex;
                flex-direction: column;
    
                &_img{
                    margin-bottom: 0.5rem;
    
                    img{
                        object-fit: cover;
                        border-radius:1rem;
                    }
                }
                &_text{
                    a{
                        font-size: 18px;
                        color: inherit;
                        text-decoration: inherit;
                    }
                    a:hover{
                        color: $catalog_color;
                    }
                    .price{
                        display:flex;
                        justify-content: space-between;
                        margin-top: 3px;
                        span{
                            font-weight: 600;
                        }
                    }
                }
            }
            @media (max-width:1024px){
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
            @media (max-width:640px){
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }
    }
    @media (max-width:640px){
        display: block;
    }
}